<footer>
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>GET INVOLVED</h4>
                <ul>
                    <li><a href="">Add New Movies</a></li>
                    <li><a href="">Add New TV Show</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>COMMUNITY</h4>
                <ul>
                    <li><a href="">Guidelines</a></li>
                    <li><a href="">Discussions</a></li>
                    <li><a href="">Leaderboard</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>LEGAL</h4>
                <ul>
                    <li><a href="">Terms of Use</a></li>
                    <li><a href="">API Terms of Use</a></li>
                    <li><a href="">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>CONTACT US</h4>
               <div class="social">
                <a href="" class="fa fa-facebook"></a>
                <a href="" class="fa fa-instagram"></a>
                <a href="" class="fa fa-twitter"></a>
                <a href="" class="fa fa-linkedin-square"></a>
               </div>
            </div>
        </div>
    </div>
</footer>